<div class="border rounded-lg bg-white shadow-sm p-4 flex flex-col justify-between min-h-[170px] transition">

  <!-- HEADER -->
  <div class="flex justify-between items-start">

    <div>
      <div class="font-semibold text-slate-800">
        {{ task.title }}
      </div>
      <div class="text-xs text-slate-500">
        {{ task.due }}
      </div>
    </div>

    <!-- PRIORIDADE -->
    <span
      class="text-xs px-2 py-1 rounded font-semibold cursor-default"
      [ngClass]="{
        'bg-red-500 text-white': task.level === 'high',
        'bg-yellow-400 text-black': task.level === 'medium',
        'bg-green-500 text-white': task.level === 'low'
      }">
      {{ task.level }}
    </span>

  </div>

  <!-- DESCRIÇÃO -->
  <p class="text-sm text-slate-600 mt-2 max-h-16 overflow-hidden">
    {{ task.desc }}
  </p>

  <!-- BOTÕES -->
  <div class="flex gap-2 mt-3 text-xs">

    <button (click)="setStatus('todo')"
      class="px-2 py-1 border rounded hover:bg-slate-100 cursor-pointer transition active:scale-95">
      Todo
    </button>

    <button (click)="setStatus('doing')"
      class="px-2 py-1 border rounded hover:bg-slate-100 cursor-pointer transition active:scale-95">
      Doing
    </button>

    <button (click)="setStatus('done')"
      class="px-2 py-1 border rounded hover:bg-slate-100 cursor-pointer transition active:scale-95">
      Done
    </button>

    <button (click)="delete()"
      class="ml-auto text-red-500 hover:text-red-700 cursor-pointer transition">
      Excluir
    </button>

  </div>

  

</div>

