<div class="grid grid-cols-1 md:grid-cols-3 gap-4">

  <!-- TODO -->
  <div>
    <h2 class="font-semibold mb-2">Para fazer</h2>

    <app-task-card
        *ngFor="let t of getByStatus('todo')"
        [task]="t"
        (move)="taskService.moveTask($event.id, $event.status)"
        (remove)="taskService.deleteTask($event)">
    </app-task-card>
  </div>

  <!-- DOING -->
  <div>
    <h2 class="font-semibold mb-2">Em andamento</h2>

    <app-task-card
        *ngFor="let t of getByStatus('doing')"
        [task]="t"
        (move)="taskService.moveTask($event.id, $event.status)"
        (remove)="taskService.deleteTask($event)">
    </app-task-card>
  </div>

  <!-- DONE -->
  <div>
    <h2 class="font-semibold mb-2">Concluídas</h2>

    <app-task-card
        *ngFor="let t of getByStatus('done')"
        [task]="t"
        (move)="taskService.moveTask($event.id, $event.status)"
        (remove)="taskService.deleteTask($event)">
    </app-task-card>
  </div>

</div>